@using Friensify.ViewModels;

@model IEnumerable<VisitasPerfilViewModel>

@{
    ViewData["Title"] = "Busqueda";
    Layout = "~/Views/Shared/_LayoutFluid.cshtml";
}
@section Styles {

    <link href="@Url.Content("~/css/busqueda.css")" rel="stylesheet" type="text/css" />
}

<div class="container-fluid">
    <div class="header-top">
        <div class="navegacion">
            <fieldset>
                <input type="search" placeholder="Buscar . . ." id="inputBusqueda">
                <button id="buscar" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </fieldset>
        </div>
    </div>
    <div class="rounded row">
        <div class="col-md-3">
            <div id="buscador-container">
                <h6>Perfiles Mas Visitados</h6>
                <div id="masvisitados-container">
                    @foreach (var perfil in Model)
                    {
                        <div class="perfiles">
                            <div class="row p-1">
                                <div class="img-buscar col-md-2">
                                    <img src="~/img/@perfil.ImagenURL" />
                                </div>
                                <div class="col-md-8 pt-2">
                                    <span class="pl-2">@perfil.Nombre</span>
                                </div>
                                <div class="col-md-2">
                                    <span class="posicion">@perfil.Visitas</span>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
        <div class="col-md-5 offset-1">
            <div id="resultadosb-container">
                <h6>Resultados de la Busqueda</h6>
                <div id="rbuscados-container">
                   
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="@Url.Content("~/lib/typeahead/typeahead.bundle.js")"></script>
    <script>
        $(document).ready(function () {
            var usuarios = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('nombre', 'apellido', 'username', 'email'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                prefetch: {
                    url: '/api/Search',
                    cache: false
                }
            });

            console.log(usuarios);

            $('#inputBusqueda').typeahead({
                highlight: true
            },
            {
                name: 'usuarios',
                limit: 10,
                display: 'nombre',
                source: usuarios.ttAdapter(),
                templates: {
                    suggestion: function (item) {
                        return `<div><a id="${item.id}" class="sugerencia" href="/Perfil/Ver?username=${item.username}">
                                    <div class="row">
                                        <div class="col col-md-2"><img src="@Url.Content("/img/${item.urlImagen}")"  class="rounded-circle" width="45px" height="45px" ></div>
                                        <div class="col col-md-10">
                                            <div class="row">
                                                <span class="pl-2 pr-3  text-black">${item.username}</span>
                                                <span class="pl-2 text-secondary"> ${item.nombre} ${item.apellido}</span>
                                            </div>
                                            <div class="row"> <span class="pl-2 text-secondary"> ${item.email}</span></div>
                                        </div>
                                    </div>
                                </a></div>`;
                    }
                }
                });

            $('#inputBusqueda').bind('typeahead:render', function(ev) {
                var suggestions = Array.prototype.slice.call(arguments, 1);
                console.log(suggestions);

                var markup = '';

                suggestions.forEach(function (user) {

                    markup += `<div class="resultados-perfiles resultados-busqueda hr">
	                                <a href="/Perfil/Ver?username=${user.username}">
		                                <div class="rounded row p-1">
			                                <div class="resultados-img col col-md-2">
				                                <img src="@Url.Content("/img/${user.urlImagen}")" width="100%"/>
			                                </div>
			                                <div class="col-md-9 resultados-datos">
				                                <div class="row">
					                                <span class=""><strong>${user.nombre} ${user.apellido}</strong></span>
				                                </div>
				                                <div class="row">
					                                <span class="text-muted">${user.username}</span>
				                                </div>
			                                </div>
		                                </div>
	                                </a>
                                </div>`;
                                                });
                $('#rbuscados-container').html(markup);
            });
        }); 
    </script>
}
