@using Friensify.Models;
@model Friensify.ViewModels.PerfilViewModel;


@{
    ViewData["Title"] = "Perfil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link href="@Url.Content("~/css/perfil.css")" rel="stylesheet" type="text/css" />
}


@*<header>
    <div class="container body-content">*@

<div class="container" id="perfil-container">
    <div class="profile">
        <div class="profile-image">
            <img src="https://www.britannica.com/image/profile/2564" width="200" alt="">
        </div>

        <div class="profile-user-settings">
            <h1 class="profile-user-name">@Model.Username</h1>
            <a href="~/Identity/Account/Manage" class="btn profile-edit-btn">EDITAR PERFIL</a>
            <button class="btn profile-edit-btn" aria-label="profile settings"> CHAT </button>
        </div>

        <div class="profile-stats p-0">
            <ul>
                <li><span class="profile-stat-count">11</span>posts</li>
                <li><a href="../Home/Seguidores?nickname=antdavis23" class="text-black"><span class="profile-stat-count">6</span> seguidores</a></li>
                <li><a href="../Home/Siguiendo?nickname=antdavis23" class="text-black"><span class="profile-stat-count">10</span> siguiendo</a></li>
            </ul>
        </div>

        <div class="profile-bio">
            <span class="profile-real-name">@Model.NombreCompleto()</span>
            @if (!string.IsNullOrEmpty(Model.Biografia))
            {
                <p>@Model.Biografia</p>
            }
        </div>
    </div>
    <hr />
    <!-- End of profile section -->

</div>

<main>
    <div class="container">

        <div class="col-12 gedf-main">

            <div class="card gedf-card mb-4">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="posts-tab" data-toggle="tab" href="#posts" role="tab" aria-controls="posts" aria-selected="true" style="font-size: medium;">Publicacion</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="images-tab" data-toggle="tab" role="tab" aria-controls="images" aria-selected="false" href="#images" style="font-size: medium;">Imagenes</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <form asp-controller="Perfil" asp-action="CrearPost" enctype="multipart/form-data" method="post">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="posts" role="tabpanel" aria-labelledby="posts-tab">
                                <div class="form-group">
                                    <label class="sr-only" asp-for="@Model.Post.Contenido">post</label>
                                    <textarea class="inputsVAR" asp-for="@Model.Post.Contenido" cols="150" rows="3" placeholder="Que estas pensando?"></textarea>
                                    <span asp-validation-for="@Model.Post.Contenido" class="text-danger"></span>
                                </div>

                            </div>
                            <div class="tab-pane fade" id="images" role="tabpanel" aria-labelledby="images-tab">
                                <div class="form-group">

                                    <div class="custom-file">
                                        <input asp-for="@Model.Post.ImagenPost" class="custom-file-input" />
                                        <label asp-for="@Model.Post.ImagenPost" class="custom-file-label">Carga</label>
                                    </div>

                                </div>
                                <div class="py-4"></div>
                            </div>
                        </div>
                        <input type="hidden" id="Post.UserId" name="Post.UserId" value="@Model.UserId">
                        <div class="btn-toolbar justify-content-between">
                            <div class="btn-group">
                                <button type="submit" class="btn profile-edit-btn">Compartir</button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>

            @foreach (var post in Model.Posts)
            {
                <div class="card gedf-card mb-4">
                    <div class="card-header">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="mr-2">
                                    <img class="rounded-circle" width="45" src="img/antdavis23-thumbnail.jpg" alt="">
                                </div>
                                <div class="ml-2">
                                    <div class="h5 m-0">@Model.Username</div>
                                    <div class="h7 text-muted">@Model.NombreCompleto()</div>
                                </div>
                            </div>
                            <div>
                                <div class="dropdown">
                                    <button class="btn btn-link dropdown-toggle" type="button" id="@post.PostId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:BLACK;">
                                        <i class="fa fa-ellipsis-h"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="@post.PostId">
                                        <div class="h6 dropdown-header">Configuracion</div>
                                        <a class="dropdown-item" href="#">Guardar</a>
                                        <a class="dropdown-item" href="#">Reportar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="text-muted h7 mb-2"> 
                            <i class="fa fa-clock-o"></i>
                            <span class="pl-1">@post.TiempoTranscurrido()</span>
                        </div>
                        <p class="card-text2">
                            @post.Contenido
                        </p>
                        <div class="w3-row-padding">
                            @if (!string.IsNullOrEmpty(post.URLImagen))
                            {
                                <div class="w3-half">
                                    <img src="~/img/@post.URLImagen" alt="Northern Lights" class="w3-margin-bottom">
                                </div>
                            }
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="reaccion"> <i class="fa fa-heart"></i> Me gusta</a>
                        <a href="#" class="reaccion"><i class="fa fa-comment"></i> Comentar</a>
                    </div>
                </div>
            }

            <div class="card gedf-card mb-4">
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="mr-2">
                                <img class="rounded-circle" width="45" src="img/antdavis23-thumbnail.jpg" alt="">
                            </div>
                            <div class="ml-2">
                                <div class="h5 m-0">antdavis23</div>
                                <div class="h7 text-muted">antdavis23</div>
                            </div>
                        </div>
                        <div>
                            <div class="dropdown">
                                <button class="btn btn-link dropdown-toggle" type="button" id="gedf-drop1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:BLACK;">
                                    <i class="fa fa-ellipsis-h"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop1">
                                    <div class="h6 dropdown-header">Configuracion</div>
                                    <a class="dropdown-item" href="#">Guardar</a>
                                    <a class="dropdown-item" href="#">Reportar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i>10 min atras</div>
                    <p class="card-text2">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo recusandae nulla rem eos ipsa praesentium esse magnam nemo dolor
                        sequi fuga quia quaerat cum, obcaecati hic, molestias minima iste voluptates.
                    </p>
                    <div class="w3-row-padding">
                        <div class="w3-half">
                            <img src="img/nasa/nasa-26.jpg" alt="Northern Lights" class="w3-margin-bottom">
                        </div>
                        <div class="w3-half">
                            <img src="img/nasa/nasa-19.jpg" alt="Nature" class="w3-margin-bottom">
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="#" class="reaccion"> <i class="fa fa-gittip"></i> Me gusta</a>
                    <a href="#" class="reaccion"><i class="fa fa-comment"></i> Comentar</a>
                    <a href="#" class="reaccion"><i class="fa fa-mail-forward"></i> Compartir </a>
                </div>
            </div>



            <div class="card gedf-card mb-4">
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="mr-2">
                                <img class="rounded-circle" width="45" src="img/antdavis23-thumbnail.jpg" alt="">
                            </div>
                            <div class="ml-2">
                                <div class="h5 m-0">antdavis23</div>
                                <div class="h7 text-muted">antdavis23</div>
                            </div>
                        </div>
                        <div>
                            <div class="dropdown">

                                <button class="btn btn-link dropdown-toggle" type="button" id="gedf-drop1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:BLACK;">
                                    <i class="fa fa-ellipsis-h"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop1">
                                    <div class="h6 dropdown-header">Configuracion</div>
                                    <a class="dropdown-item" href="#">Guardar</a>
                                    <a class="dropdown-item" href="#">Reportar</a>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="card-body mb-4">
                    <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i> 10 min ago</div>

                    <p class="card-text2">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam omnis nihil, aliquam est, voluptates officiis iure soluta
                        alias vel odit, placeat reiciendis ut libero! Quas aliquid natus cumque quae repellendus. Lorem
                        ipsum dolor sit amet consectetur adipisicing elit. Ipsa, excepturi. Doloremque, reprehenderit!
                        Quos in maiores, soluta doloremque molestiae reiciendis libero expedita assumenda fuga quae.
                        Consectetur id molestias itaque facere? Hic!
                    </p>

                </div>
                <div class="card-footer">
                    <a href="#" class="reaccion"><i class="fa fa-gittip"></i>   Like</a>
                    <a href="#" class="reaccion"><i class="fa fa-comment"></i> Comment</a>
                    <a href="#" class="reaccion"><i class="fa fa-mail-forward"></i> Share</a>
                </div>
            </div>
        </div>


        <div class="card gedf-card mb-4">
            <div class="card-header">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="mr-2">
                            <img class="rounded-circle" width="45" src="img/antdavis23-thumbnail.jpg" alt="">
                        </div>
                        <div class="ml-2">
                            <div class="h5 m-0">antdavis23</div>
                            <div class="h7 text-muted">antdavis23</div>
                        </div>
                    </div>
                    <div>
                        <div class="dropdown">

                            <button class="btn btn-link dropdown-toggle" type="button" id="gedf-drop1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:BLACK;">
                                <i class="fa fa-ellipsis-h"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop1">
                                <div class="h6 dropdown-header">Configuracion</div>
                                <a class="dropdown-item" href="#">Guardar</a>
                                <a class="dropdown-item" href="#">Reportar</a>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <div class="card-body">
                <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i> Hace 40 min</div>
                <p class="card-text2">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam sunt fugit reprehenderit consectetur exercitationem odio,
                    quam nobis? Officiis, similique, harum voluptate, facilis voluptas pariatur dolorum tempora sapiente
                    eius maxime quaerat.
                    <a href="https://mega.nz/#!1J01nRIb!lMZ4B_DR2UWi9SRQK5TTzU1PmQpDtbZkMZjAIbv97hU" target="_blank">https://mega.nz/#!1J01nRIb!lMZ4B_DR2UWi9SRQK5TTzU1PmQpDtbZkMZjAIbv97hU</a>
                </p>
            </div>
            <div class="card-footer">
                <a href="#" class="reaccion"><i class="fa fa-gittip"></i> Like</a>
                <a href="#" class="reaccion"><i class="fa fa-comment"></i> Comment</a>
                <a href="#" class="reaccion"><i class="fa fa-mail-forward"></i> Share</a>
            </div>
        </div>
        <!-- Post /////-->

    </div>
</main>



